[include]
  path=./.git-aliases
  path=./.git-user
  
[pull]
	rebase = false
[http]
	version = HTTP/1.1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
